# Ignore Terraform state files
.terraform/
*.tfstate
*.tfstate.*

# Ignore local Terraform configuration
.terraform.lock.hcl

# Ignore sensitive files
*.tfvars

# Ignore IDE-specific files
.vscode/
.idea/